@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}
body {
    background-color: white; 
	margin-top: 30px;
}

a.socialIcons {
    margin: 10px;
    opacity: .6;
    filter: alpha(opacity=60);
}

a.socialIcons:hover {
    opacity: .8;
    filter:alpha(opacity=80); /* For IE8 and earlier */
}



/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	10;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: auto;
	/* padding-left: 0.8272%;
	padding-right: 0.8272%; */
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#header {
	clear: both;
	float: left;
	width: 100%;
    height: 100%;
	display: block;
	position: relative;
}
#bikes {
	clear: both;
	float: left;
	width: 100%;
	display: block;
	background-color:#FFF;
    margin: 5% 0;
    padding: 10% 0;
}
#trips {
	clear: both;
	float: left;
	width: 100%;
	max-height: 100%;
	display: block;
	background-color:#FFF;
    margin: 5% 0;
    padding: 10% 0;
}
#seminars {
	clear: both;
	float: left;
	width: 100%;
	display: block;
	background-color:#FFF;
    margin: 5% 0;
    padding: 10% 0;
}
#faq {
	clear: both;
	float: left;
	width: 100%;
	display: block;
	background-color:#FFF;
    margin: 5% 0;
    padding: 10% 0;
}
#footer {
	clear: both;
	float: left;
	width: 100%;
	display: block;
    text-align: center;
}
.footerText {
    color: #999;
    font-size: 1em;
    padding-top: 3%;
	padding-bottom: 3%;
    text-align: center;
}
.socialIconGroup {
    padding-bottom: 5%;
}
.navbar {
    border-bottom: 1px solid #999;
}
.bikeCatalog {
    padding: 10% 0;
}
.catalogItem {
    text-align: center;
}
.catalogItem img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.nav-divider {
    height: 50px;
    margin: 0 9px;
    border-left: 1px solid #999;
    border-right: 1px solid #FFF;
}
.btn {
    position: absolute;
    bottom: 0;
    margin-bottom: 7px;
}
 
}
/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: auto;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
    height: 100%;
	display: block;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#navbar {
    float: right;
}
#bikes {
	clear: none;
	float: left;
	width: 100%;
	display: block;
}
#trips {
	clear: none;
	float: left;
	width: 100%;
	display: block;
}
#seminars {
	clear: none;
	float: left;
	width: 100%;
	display: block;
}
#faq {
	clear: none;
	float: left;
	width: 100%;
	display: block;
}
#footer {
	clear: both;
	float: left;
	width: 100%;
	display: block;
}




@media only screen and (min-width: 769px) {
.gridContainer {
	width: auto;
	margin: auto;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
    height: 100%;
	display: block;
}
#navbar {
	float: right;
}
#bikes {
	clear: both;
	float: left;
	width: 100%;
	display: block;
	text-align: left;
}
#trips {
	clear: both;
	float: left;
	width: 100%;
	display: block;
} 
#seminars {
	clear: both;
	float: left;
	width: 100%;
	display: block;
}
#faq {
	clear: both;
	float: left;
	width: 100%;
	display: block;
}
#footer {
	clear: both;
	float: left;
	width: 100%;
	display: block;
}
} 
